//colours
$grey: #333333;
$white: #ffffff;
//navigation colours

$nav-background: $grey;
$nav-text-color: $white;

//clock variables
$clock-text: white;
$clock-background: #FBA587;
$clock-border: #EE5B28;